*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;

}
#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}
.card{
   width: 23%;
    text-align: center;
    box-shadow: 0 0 4px 3px #58ebe8;
    padding: 1.6em;
    margin-bottom: 2em;

}
.image{
    width: 80%;
}
.title{
    font-size: 1.3rem;
}

#post-form{
    display: flex;
    align-items: center;
    background-color: #98f1f0;
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    flex-direction: column;
    
}
#post-title{

    border: 1px solid black;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: 50px;
    padding: 50px;



}
#post-content{
    border: 1px solid black;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: 50px;
    padding: 50px; 
}
button{
    color: hsl(180, 100%, 100%);
    background-color: #312ee6;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
#post-list{
    display: flex;
    flex-direction: column;
  margin-top: 50px;
    border: 1px solid black ;
    width: 1000px;
    border-radius: 20px;
    justify-self: center;
    align-items: center;
    margin-bottom: 50px;
}
.navbar{
    color: black;
    background-color: rgba(40, 244, 244, 0.993);
}
.py-5{
    color: black;
    background-color: rgba(40, 244, 244, 0.993);  
}